.imgError {
    width: 300px;
    height: 400px;
    border-radius: 100%;
}

.div_Error {
    display: flex;
    flex-direction: column; /* Empilha os elementos verticalmente */
    justify-content: center;
    align-items: center;
    padding: 20px;
    filter: drop-shadow(10px 0 30px rgb(255, 253, 253));
}

.error_message {
    font-size: 40px;
  /* Adiciona espaço entre a imagem e a mensagem de erro */
   
}
