.chatButton{
    height: 35px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold; 
    margin: 10px 10px 0px 10px;
    font-size: 20px;
    background-color: #322d37;
    color: #ffffff;
    font-weight: bold;
    width: 150px;
    border: none;
}