/.dialogKey, { 
    background-color:white;
    border-radius: 40px;
    border:none;
}

.btnSubmitKey{
    background-color: #e0cede5c;
    border-radius: 40px;
    width: 100px;
}

.btnCancelKey{
    background-color: #e0cede5c;
    border-radius: 40px;
    width: 100px;
}

.btnKey{
    margin-top: 10px;
    margin-left: 1500px;
    width: 100px;
    height: 50px;
    font-size:20px;
}