li.container_itensChat{
    background-color: rgb(230, 228, 230);
    border-radius: 50px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.personaName{
    font-size: 20px;
    font-weight: bold;
}

.imagem{
    float:left;

}

.textBanner{


}


.container_itens{
    
}