li.container_itensChat{
    border-radius: 50px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center; 
    text-align: center;
    margin: 10px;
    margin-top: 25px; 
}

.personaName{
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;

}

.nome{
    font-size: 20px;
    display: flex;
    justify-content: center;
  
}

imagem{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.imageChat{
    width: 100px;
    height: 100px;
    border-radius: 75px;

}

