header {
    text-align: left;
    background-color: #e0cede5c;
    font-weight: bold;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items:baseline;
    height: fit-content;
    border-radius: 50px;
}

h1 {
    font-size: 60px;
    margin-right: 20px;
    margin-left: 400px;
}

header img {
    max-height: 100px;
    padding-top: 20px;
    padding-right: 20px;
    margin-right: 0px;
    margin-left: 20px;
    text-align: right;
}

.btnHomePage, .btnKey {
    height: 35px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 10px;
    font-weight: bold; 
    margin: 10px 10px 0px 10px;
    font-size: 20px;
    background-color: #322d37;
    color: #ffffff;
    font-weight: bold;
    width: 150px;
    border: none;
}

.btnHome, .key-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}


