@import url("./components/chatBanner/style.css");
@import url("./components/chatButton/style.css");
@import url("./components/chatBox/style.css");

@import url("./components/erro/style.css");
@import url("./components/errorApi/style.css");
@import url("./components/errorRoute/style.css");


@import url("./components/filters/style.css");
@import url("./components/footer/style.css");
@import url("./components/header/style.css");
@import url("./components/cards/style.css");

@import url("./components/modal/style.css");

@import url("./components/buttons/style.css");

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

main {
    display: flexbox;
}

p{
    font-size: 15px; 
}

 #root{ 
    min-height: 500px;
}

@media (max-width: 370px){
    .btnHomePage, .btnKey{
    padding: 5px;
    font-size: 15px;
    width: 100px;
}
}


@media (max-width: 600px) and (min-width: 370px) {

    header {
        justify-content: center;
    }

    header img {
        display: none;
    }

    footer {
        align-items: center;
        text-align: center;
        height: fit-content;
        font-size: 10px;
    }

    /* p{
        font-size: 10px;
    } */

    .dialogKey { 
        background-color: #322d37;
        color: #ffffff;
        font-size: 15px;
        justify-content: center;
        text-align: center;
        height: fit-content;
        width: fit-content;
        border-radius: 10px;
        border-style:none;
    }

}

@media (max-width:700px) {

    .comandos {
        flex-direction: column;
        align-items: center;
    }

    .btnHomePage{
        margin-right: 20px;
    }

    .btnKey{
        margin-left: 20px;
    }

    #reset-button {
        margin-top: 10px;

    }

    header{
        justify-content: center;
    }

    h1 {
        font-size: 40px;
        margin-right: 30px;
        margin-left: 30px;
        justify-content: center;
        text-align: center;
    }

    header img {
        display: none;
    }
}

@media (max-width: 1180px) and (min-width: 700px) {

    .comandos {
        flex-direction: column;
        align-items: center;
    }

    #reset-button {
        margin-top: 10px;

    }

    header{
        justify-content: center;
    }

    h1 {
        font-size: 40px;
        margin-right: 0px;
        margin-left: 0px;
        justify-content: center;
        text-align: center;
    }

    header img {
        max-height: 100px;
    }
}
