/*@import url("./components/aboutMe/style.css");*/
/*@import url("./components/buttons/style.css");*/

/*@import url("./components/chatBanner/style.css");*/
/*@import url("./components/chatBox/style.css");*/
/*@import url("./components/chatButton/style.css");*/

@import url("./components/filters/style.css");
@import url("./components/footer/style.css");
@import url("./components/header/style.css");
@import url("./components/cards/style.css");

/*@import url("./components/membersChat/style.css");*/
/*@import url("./components/membersList/style.css");*/
/*@import url("./components/textArea/style.css");*/

/.dialogKey, { 
    background-color:white;
    border-radius: 40px;
    border:none;
}

.btnSubmitKey{
    background-color: #e0cede5c;
    border-radius: 40px;
    width: 100px;
}

.btnCancelKey{
    background-color: #e0cede5c;
    border-radius: 40px;
    width: 100px;
}

.btnKey{
    margin-top: 10px;
    margin-left: 1500px;
    width: 100px;
    height: 50px;
    font-size:20px;
}